<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head.ejs') %>
<body>
  <%- include ('../partials/navbar.ejs') %>
  <div class ="main-content-container" >
  <h1> Reports</h1> <%=projects.name %> 
        <% for(let i = 0; i < projects.websites.length; i++){ %>
          <li>
            reports
            <a href="/projects/<%=projects.id %>/websites/<%=projects.websites[i].id%>/urls/<%= projects.websites[i].list_of_urls[i].id%>/report/<%= projects.websites[i].list_of_urls[i].reports[i].id%>>">
              <%=projects.websites[i].list_of_urls[i].reports[i].report_name %>
            </a>
        </li>
        <% } %>
      </a>
  <nav>
      <a href="/projects">Back to project Index</a>
  </nav>
  
</div>
</body>
</html>