<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head.ejs') %>
<body>
  <%- include ('../partials/navbar.ejs') %>
  <div class ="main-content-container" >
    <h1><%=websiteUrl.url_name %>- Report</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Report name</th>
        <th scope="col">Date Created</th>
        <th scope="col">Report link</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td> <%=report.report_name %></td>
        <td> <%=report.created_date %></td>
        <td> <%=report.lighthouse_html_string %></td>
      </tr>
    </tbody>
  </table>
  </div>
</body>
</html>