<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>show website</h1> <%=projects.name %> 

  <h2>Website Name: <%=projects.websites[websiteIndex].website_name %></h2>  

  <form action="/projects/<%=projects.id %>/websites/<%=projects.websites[websiteIndex].id%>?_method=DELETE" method="POST">
    <input type="submit" value="DELETE"/>
</form>
<a href="/projects/<%=projects.id %>/websites/<%=projects.websites[websiteIndex].id%>/edit">Edit</a>
 
</a>

        <% for(let i = 0; i < projects.websites.length; i++){ %>
          <li>
            urls
            <a href="/projects/<%=projects.id %>/websites/<%=projects.websites[websiteIndex].id%>/urls/<%= projects.websites[websiteIndex].list_of_urls[i].id%>">
              <%=projects.websites[websiteIndex].list_of_urls[i].url_name %>
            </a>
        </li>

        <% } %>
      </a>
      <a href="/projects/new">Add a url</a>
  <nav>
      <a href="/projects">Back to project Index</a>
  </nav>
</body>
</html>