<!DOCTYPE html>
<html>
  <%- include ('../partials/head.ejs') %>
    <body>
        <h1>Index Projects</h1>  
        <ul>
          <% for(let i = 0; i < projects.length; i++){ %>
            <li>
              project name
              <a href="/projects/<%=projects[i].id %>">
                  <%=projects[i].name; %>
              </a>
          </li>
          <form action="/projects/<%= projects[i].id %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE"/>
        </form>
        <a href="/projects/<%=projects[i].id %>/edit">Edit</a>
          <% } %>
      </ul>
      <a href="/projects/new">Create a New Project</a>
    </body>
</html>