<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Show Project</h1> <%=projects.name %> 
        <% for(let i = 0; i < projects.websites.length; i++){ %>
          <li>
            websites
            <a href="/projects/<%=projects.id %>/websites/<%=projects.websites[i].id %>">
                <%=projects.websites[i].website_name %>
            </a>
        </li>

        <% } %>
        <a href="/projects/<%=projects.id %>/websites/new/">Add a website to Project</a>
  <nav>
      <a href="/projects">Back to project Index</a>
  </nav>
</body>
</html>