<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head.ejs') %>
<body>
  <h1>Show Project</h1> <%=projects.name %> 
        <% for(let i = 0; i < projects.websites.length; i++){ %>
          <li>
            websites
            <a href="/projects/<%=projects.id %>/websites/<%=projects.websites[i].id %>">
                <%=projects.websites[i].website_name %>
            </a>
        </li>

        <% } %>
        <a href="/projects/<%=projects.id %>/websites/new/">Add a website to Project</a>
  <nav>
      <a href="/projects">Back to project Index</a>
  </nav>
</body>
</html>